@model NIPv1.Models.Data

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nr_domu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_domu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kod_pocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kod_pocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miasto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
