@using System.Web.Services.Protocols
@model IEnumerable<NIPv1.Models.Data>

@{
    ViewBag.Title = "Dane";
}

<h2 align="center">Wyszukiwanie</h2>

@using (Html.BeginForm("Index", "Data", FormMethod.Get))
{
        <p align="center">
            Wyszukaj po NIP/KRS/REGON: @Html.TextBox("searchNumber", ViewBag.CurrentFilter as string,
                                  new
                                  {
                                      @class = "form-control valid",
                                      @title = "Przykładowy nr NIP pobierający poprawne dane to 777-777-77-77, " +
                                               "można go wpisać w dowolnym formacie " +
                                               "(np. format europejski PL7777777777 lub format bez myślników 7777777777).",
                                      @pattern = "[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" +
                                                 "|[P][L][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" +
                                                 "|[0-9][0-9][0-9][-][0-9][0-9][0-9][-][0-9][0-9][-][0-9][0-9]"
                                  })
            <input type="submit" value="Pobierz dane" />
        </p>
}
    @if (Model == null || Model.Count() > 1)
    {
        <p align="center"><font size="6">Podaj numer NIP, KRS lub REGON.</font></p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KRS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.REGON)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KRS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REGON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <center>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NIP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KRS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.REGON)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                </tr>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KRS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.REGON)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Street)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostalCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <p align="center"><font color="red" size="7">Nie znaleziono takiego numeru w bazie danych.</font></p>
                }

            </table>
        </center>
    }

